@import "tailwindcss";

:root {
  --background: #9FCCFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Helvetica, Arial, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9FCCFF;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea,
select {
  font-family: Helvetica, Arial, sans-serif !important;
}

*,
*::before,
*::after {
  font-family: Helvetica, Arial, sans-serif !important;
}
